<launch>
    <include file="$(find orbbec_camera)/launch/gemini_330_series.launch">
    
        <arg name="camera_name" value="camera"/>
        <arg name="enable_accel" value="true"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_sync_output_accel_gyro" value="true"/>

    </include>
</launch>