<launch>
  <!-- 加载参数文件 -->
  <arg name="config_file" default="$(find conqu_vision)/config/conqu_vison.yaml"/>
  <rosparam command="load" file="$(arg config_file)"/>
  
  <!-- 相机参数 -->
  <arg name="camera_name" default="camera"/>
  <arg name="enable_point_cloud" default="true"/>
  <arg name="enable_depth" default="true"/>
  <arg name="depth_width" default="640"/>
  <arg name="depth_height" default="480"/>
  <arg name="depth_fps" default="30"/>
  <arg name="enable_color" default="true"/>
  <arg name="color_width" default="640"/>
  <arg name="color_height" default="480"/>
  <arg name="color_fps" default="30"/>
  <arg name="depth_registration" default="false"/>
  <arg name="enable_noise_removal_filter" default="true"/>
  
  <!-- 从参数服务器读取参数 -->
  <!-- 是否显示 RViz -->
  <arg name="show_rviz" default="true"/>
  
  <!-- RViz 配置文件路径 -->
  <arg name="rvizconfig" default="$(find conqu_vision)/rviz/real.rviz" />
  
  <!-- 启动 Orbbec Gemini 330 相机 -->
  <include file="$(find orbbec_camera)/launch/gemini_330_series.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="enable_point_cloud" value="$(arg enable_point_cloud)"/>
    <arg name="enable_depth" value="$(arg enable_depth)"/>
    <arg name="depth_width" value="$(arg depth_width)"/>
    <arg name="depth_height" value="$(arg depth_height)"/>
    <arg name="depth_fps" value="$(arg depth_fps)"/>
    <arg name="enable_color" value="$(arg enable_color)"/>
    <arg name="color_width" value="$(arg color_width)"/>
    <arg name="color_height" value="$(arg color_height)"/>
    <arg name="color_fps" value="$(arg color_fps)"/>
    <!-- 启用点云注册，确保深度和彩色图像对齐 -->
    <arg name="depth_registration" value="$(arg depth_registration)"/>
    <!-- 根据需要开启降噪滤波器 -->
    <arg name="enable_noise_removal_filter" value="$(arg enable_noise_removal_filter)"/>
  </include>
  
  <!-- 启动篮球框检测节点 -->
  <node name="hoop_detector_cpp" pkg="conqu_vision" type="hoop_detector" output="screen">
    <!-- 指定使用的点云话题 -->
    <!-- <remap from="/camera/depth/points" to="/camera/depth_registered/points"/> -->
  </node>

<!-- 相机安装参数 -->
<arg name="camera_mount_height" default="1.02"/>
<arg name="camera_mount_tilt_angle" default="-0.785"/>

<!-- 从参数服务器读取摄像头安装参数 -->
<node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0 0 $(arg camera_mount_height) 0 $(arg camera_mount_tilt_angle) 0 base_link camera_link 100" />

  <!-- 条件启动 RViz -->
  <node if="$(arg show_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>