<?xml version="1.0"?>
<launch>
  <!-- TF发布器参数 -->
  
  <!-- 更新频率 -->
  <param name="tf_update_rate" type="double" value="10.0" />
  
  <!-- 相机参数（已融合高度和俯仰角） -->
  <arg name="camera_mount_x" default="0.0" />
  <arg name="camera_mount_y" default="0.0" />
  <arg name="camera_mount_z" default="1.015" /> <!-- 相机安装高度 -->
  <arg name="camera_mount_roll" default="0.0" />
  <arg name="camera_mount_pitch" default="-0.78539" /> <!-- 相机安装俯仰角 -->
  <arg name="camera_mount_yaw" default="0.0" />

  <!-- imu参数 -->
  <arg name="imu_mount_x" default="0.0" />
  <arg name="imu_mount_y" default="0.0" />
  <arg name="imu_mount_z" default="0.0" />
  <arg name="imu_mount_roll" default="0.0" />
  <arg name="imu_mount_pitch" default="0.0" />
  <arg name="imu_mount_yaw" default="0.0" />


  <!-- 激光雷达1参数 (left) -->
  <arg name="laser1_mount_x" default="0.0" />
  <arg name="laser1_mount_y" default="0" />
  <arg name="laser1_mount_z" default="0.0" />
  <arg name="laser1_mount_roll" default="3.14159" /> <!-- M_PI -->
  <arg name="laser1_mount_pitch" default="0.0" />
  <arg name="laser1_mount_yaw" default="1.5708" /> <!-- M_PI/2 -->
  

  <!-- 激光雷达2参数 (right) -->
  <arg name="laser2_mount_x" default="0.0" />
  <arg name="laser2_mount_y" default="0.55945" />
  <arg name="laser2_mount_z" default="0.0" />
  <arg name="laser2_mount_roll" default="3.14159" /> 
  <arg name="laser2_mount_pitch" default="0.0" />
  <arg name="laser2_mount_yaw" default="0.0" />



    <!-- 加载相机的URDF模型 -->
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find orbbec_camera)/urdf/gemini335_336.urdf.xacro'" />
  <!-- 启动robot_state_publisher，发布URDF中定义的TF变换 -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- 使用static_transform_publisher发布TF变换 -->
  <!-- 基座到相机的TF变换 - 父节点:base_link, 子节点:camera_link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_broadcaster"
        args="$(arg camera_mount_x) $(arg camera_mount_y) $(arg camera_mount_z) 
              $(arg camera_mount_yaw) $(arg camera_mount_pitch) $(arg camera_mount_roll) 
              base_link camera_link" />

  <!-- imu camera_accel_gyro_optical_frame 与  camera_accel_optical_frame公用一个坐标系 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_camera_accel_broadcaster"
        args="$(arg imu_mount_x) $(arg imu_mount_y) $(arg imu_mount_z) 
              $(arg imu_mount_yaw) $(arg imu_mount_pitch) $(arg imu_mount_roll) 
              camera_accel_optical_frame camera_accel_gyro_optical_frame" />

  <!-- 基座到激光雷达1(左)的TF变换 - 父节点:base_link, 子节点:laser1_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_laser1_broadcaster"
        args="$(arg laser1_mount_x) $(arg laser1_mount_y) $(arg laser1_mount_z) 
              $(arg laser1_mount_yaw) $(arg laser1_mount_pitch) $(arg laser1_mount_roll) 
              base_link laser1_link" />
              
  <!-- 基座到激光雷达2(右)的TF变换 - 父节点:base_link, 子节点:laser2_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_laser2_broadcaster"
        args="$(arg laser2_mount_x) $(arg laser2_mount_y) $(arg laser2_mount_z) 
              $(arg laser2_mount_yaw) $(arg laser2_mount_pitch) $(arg laser2_mount_roll) 
              base_link laser2_link" />

</launch>
